nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.nav--right{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin:5px 20px;
    align-items: center;
    width: 40%;
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 24px;
}
.nav--right img{
    margin-left:50px;
    width: 80px;
}
.nav__main{
    text-decoration: none;
    color: #A3BBF8;
    justify-content: center;
    margin-left:22px;
    margin-bottom: 2px;
    
}
.nav__main:hover, .nav__prev:hover, .nav__logout:hover{
    border-bottom: 3px solid #A3BBF8;
}
.nav__prev{
    text-decoration: none;
    color: #EEEEEE;
    justify-content: center;
    margin-bottom: 2px;  
}
.nav--left{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin:5px 20px;
    align-items: center;
    width: 40%;
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 24px; 
}
.nav__welcome{
    color: #A3BBF8;
    margin-left: 20px;
}
.nav__welcome span{
    margin: 0 10px;
}
.nav__logout{
    text-decoration: none;
    color: #EEEEEE;
    justify-content: center;
    margin-bottom: 2px; 
    margin-left: 10px; 
}
/*##########################*/
/* body section */
/*##########################*/
.container{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    overflow: auto;
    position: relative;
}
.container__content{
    display: flex;
    flex-direction: column;
    justify-items: space-between;
    float: left;
    width: 50%;
    margin: 5% 10%;
    background-color: #C4C4C4;
    border-radius: 10px;
    padding: 20px;
    overflow-y: scroll;
    height: 420px;
}
.container__content--title{
    font-family: 'Lateef', cursive;
    font-size: 24px;
    font-weight: bold;
    margin: 5px;
    text-align: right;
}
.titleNode--title{
    text-align: right;
    margin-bottom: 5px;
    margin-top: 5px;
    border-top: 2px solid #6384d894;
}
.answerr{
    height: 110px;
    text-align: right;
    padding: 10px;
    resize: none;
    background-color: #d0d0ca;
    margin-top: 22px;
    margin-left: 22px;
    margin-right: 22px;
}
.answer-node{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.submitBtn{
    width: 80px;
    height: 30px;
    align-self: center; 
    background: #E5E5E5;
    border: 1px;
    border-radius: 3px;
    color: #292B30;
    margin-right: 10px;
    box-shadow: 2px 2px 4px 0px  rgba(0, 0, 0, 0.5);

}
.msg{
    margin-top: 5px;
    margin-bottom: 5px;
    color: brown;
}
.content{
    margin: 5px 0;
}
.main-message{
    font-family: 'Aref Ruqaa', sans-serif;
    font-size: 18px;
    color: #3064e8;
    margin: 5px;
}
.container-consAns{
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 560px;
    overflow: auto;
    position: relative;
}
.content--consAns{
    background-color: #00000060;
    box-shadow: 3px 4px 0px #00000025, 2px 3px 3px #737373;
    float: left;
    margin-top: 58px;
    margin-left: 40px;
    margin-bottom: 50px;
    height: 438px;
    width: 54%;
    min-width: 286px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 22px;
    overflow: auto;
}
.consAns-title{
    font-size: 25px;
    color: #333333;
    margin: 20px 50px 20px 50px;
    font-family: 'Aref Ruqaa',sans-serif;}
.consAns-content{
    font-size: 40px;
        color: #333333;
        margin: 20px 50px 20px 50px;
        font-family: 'Jomhuria', cursive;
}
.consAns-answer{
    font-size: 40px;
        color: #333333;
        margin: 20px 50px 20px 50px;
        font-family: 'Jomhuria', cursive;
}
.consAns{
    font-size: 23px;
    color: #333333;
    margin: 28px 9px 32px 58px;
    background-color: #C4C4C4;
    width: 432px;
    height: 376px;
    border-radius: 8px;
    border: 14px;
    box-shadow: 0px 0px 4px 0px rgb(196,196,196,50%);
    align-self: flex-start;
}
.answer{
    margin: 15px 50px 20px 50px;
    background-color: #d0d0d0d9;
    height: 110px;
    text-align: right;
    padding: 10px;
    resize: none;
}
.contentt{
    font-family: 'Lato';
    font-size: 20px;
    color: #333333;
    width: 555px;
    border-radius: 3px;
        border: 14px;
        box-shadow: 0px 0px 4px 0px rgb(196,196,196,50%);
        align-self: flex-start;  
        
}
.ans-content{
    display: block;
    margin: 5px 5px 1px 50px;
    font-size: 13px;
    color: #333333;
} 
.consAns-text{
    margin-top: 1px;
    margin-bottom: 1px;
    font-size: 17px;
    color: #000;
}