<section class="container-consAns">
    <div id="content-consAns" class="content--consAns">
        <div class="consAns">
            <span class="consAns-title">اجوبتي السابقة</span>
            {{#each data}}
            <div class="answerr">
                <div class="contentt">
                    <span class="ans-content "> عنوان الاستشارة المدخلة :
                    <span class="consAns-text">{{this.title}}</span></span>

                </div>
                <div class="contentt">
                     <span class="ans-content "> موضوع الاستشارة المدخلة :
                    <span class="consAns-text">{{this.content}}</span></span>
                </div>
                <div class="contentt">
                     <span class="ans-content ">الاجابة :
                    <span class="consAns-text">{{this.answer}}</span>
                </div>
            </div>

       

            {{/each}}
    </div>
</section>