<section>
    <div class="content">
        <div class="myAsk">استفساراتي</div>
        <div class="question">
            <ul>
              <li>
                 <div class="title"><h1>hi</h1></div>
                 <div class="cont"><h2>my question</h2></div>
                 <div class="answer"><h2>the answer</h2></div>
              </li>
            </ul>
        </div>
    </div>
</section>