<h1>userPrevMy</h1>
<section>
    <div class="container">
        <h1 class="title">استفسارات سابقة</h1>
        <div class="content">
            <div class="title">{{title}}</div>
            <div class="subject">{{subject}}</div>
            <div class="answer">{{answer}} </div>
        </div>
    </div>

</section>