<div class="container">
  <h2>حقوق المرأة</h2>
  <div>الحق في الميراث</div>
  <div>الحق في اختيار الديانة </div>
  <div>الحق في العمل وعدمه</div>
  <div>الحق في شغل الوظائف العامة</div>
  <div>المساهمة في صنع القرارات العامة والسياسية</div>
 <div>الحق في شغل الوظائف العامة</div>
 <div> الانضمام للجمعيّات المعنيّة بالشؤون السياسية والعامّة</div>
 <div>الحصول على مَنصبٍ في الوظائف العامة</div> 
</div>

