<section class="userQ">
    <div class="userQ-container">
        <span class="userQ-title">طلب استشارة مجانية</span>
        <form class="userQ-form">
            <label for="qTitle" class="userQ-titleQ">عنوان الاستشارة</label>
            <input type="text" name="qTitle" id="qTitle">
            <label for="qContent" class="userQ-content">موضوع الاستشارة</label>
            <input type="text" name="qContent" id="qContent">
            <span class="msg" ></span>
            <button type="submit" name="addQ" id="addQ">ارسلي</button>
        </form>
    </div>
</section>