<section>
    <div>
        <span>طلب استشارة مجانية</span>
        <form>
            <label for="qTitle">عنوان الاستشارة</label>
            <input type="text" name="qTitle" id="qTitle">
            <label for="qContent">موضوع الاستشارة</label>
            <input type="text" name="qContent" id="qContent">
            <span class="msg" ></span>
            <button type="submit" name="addQ" id="addQ">ارسلي</button>
        </form>
    </div>
</section>