<div class="container">
  <h2 class="title">حقوق المرأة</h2>
  <div class="low">الحق في الميراث</div>
  <div class="low">الحق في اختيار الديانة </div>
  <div class="low">الحق في العمل وعدمه</div>
  <div class="low">الحق في شغل الوظائف العامة</div>
  <div class="low">المساهمة في صنع القرارات العامة والسياسية</div>
 <div class="low">الحق في شغل الوظائف العامة</div>
 <div class="low"> الانضمام للجمعيّات المعنيّة بالشؤون السياسية والعامّة</div>
 <div class="low">الحصول على مَنصبٍ في الوظائف العامة</div> 
</div>
