<nav>
<div class="nav--content"> 
<div class="logo"><img src="logo.svg" alt="logo" srcset=""></div>
<div class="nav--message">اسألي عن حقوقك والمستشار يجيب</div>
<form class='form__login' action="/login" method="post">
    <label for="username">
        <input type="text" name="userName" placeholder="اسم المستخدم" required>
        <span></span>
    </label>
    <label for="password">
        <input type="password" name="password" placeholder="كلمة السر" required>
        <span></span>
    </label>
    <button type="submit" name="submit">دخول</button>
</form>
</div>
</nav>