  <nav class="nav">

      <h2>أجوبتي</h2>
      <div class="logo"><img src="logo.svg" alt="logo" srcset=""></div>
         <button class="logout-btn navButton" >خروج</button>
         <button   class="home navButton">الرئيسية</button>
         <button  class="qanon navButton">استشارات قانونية</button>   
           <button   class="sabqa navButton">استفسارات سابقة</button>
         <button  class="safhti navButton">صفحتي</button>  
         <span class="hellow">مرحبا{{userName}}</span>
</nav>
  
  
