<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
    <main>
        {{>consHeader}}
        {{{body}}}
    </main>
    {{>footer}}
    {{#if js}}
    <script src="js/{{js}}.js"></script>
    {{/if}}
</body>

</html>