<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
</head>

<body>
       <header>
        {{>userHeader}}
    </header>
    {{{ body }}}
    <footer>
        {{> footer}}
    </footer>
    {{#each js}}
    <script src="js/{{this}}.js"></script>
    {{/each}}
</body>

<<<<<<< HEAD
</html>
    
    

=======
</html>
>>>>>>> 9d43a7b074c7bb10c0439c91503b108f6b9b313a
